<section class="container mb-5">
  <section class="container mt-5">
    <div>
      <h1>Palindromos</h1>
    </div>
    <form (ngSubmit)="capturandoIntervalo()" class="needs-validation">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Numero Inicial</span>
        </div>
        <input type="number" class="form-control" [(ngModel)]="valorInicial" name="valorInicial">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Numero Final</span>
        </div>
        <input type="number" class="form-control" [(ngModel)]="valorFinal" name="valorFinal">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Gerar Palindromo</button>
      </div>
    </form>
  </section>

  <section *ngIf="!!palindromos" class="container mt-5">
    <div class="list-group-item active">Todos os números Palíndromos no intervalo selecionado</div>
    <ul *ngFor="let palindromo of palindromos" class="list-group">
      <li class="list-group-item">{{palindromo}}</li>
    </ul>
  </section>
</section>




